
@{
    ViewBag.Title = "Materias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="page-content">
        <div class="row" data-plugin="matchHeight" data-by-row="true">
            <div class="col-xxl-12 col-lg-12">

                <!-- Mostrar Clases-->
                <div class="projects-wrap">
                    <ul class="blocks blocks-100 blocks-xxl-5 blocks-lg-4 blocks-md-3 blocks-sm-2"
                        data-plugin="animateList" data-child=">li">
                        <li>
                            <div class="panel">
                                @*<figure class="overlay overlay-hover animation-hover">
                                    <img class="overlay-figure overlay-scale" src="@Url.Content("~/images/MATERIAS/MATEMATICA.jpg")">
                                    <figcaption class="overlay-panel overlay-background overlay-fade text-center vertical-align">
                                        <a class="btn btn-primary waves-effect waves-light project-button" href="@Url.Action(@ViewBag.Menu, @ViewBag.Menu)">Acceder</a>
                                    </figcaption>
                                </figure>*@
                                <figure class="overlay overlay-hover">
                                    <img class="overlay-figure" src="@Url.Content("~/images/MATERIAS/MATEMATICA.jpg")" alt="...">
                                    <figcaption class="overlay-panel overlay-background overlay-slide-top">                                        
                                        <div class="text-center">
                                            <h3>Matemáticas</h3>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="row p-10">
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <div class="font-size-18 blue-600">Matemáticas</div>
                                            <div class="font-size-14">Primero A</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <a class="btn btn-primary waves-effect waves-light project-button" href="@Url.Action(@ViewBag.Menu, @ViewBag.Menu)">Acceder</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <ul class="list-inline float-center mt-15">
                                                <li class="list-inline-item">
                                                    20 <i class="icon fa-female"></i>
                                                </li>|
                                                <li class="list-inline-item">
                                                    <i class="icon fa-male"></i> 15
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="panel">
                                <figure class="overlay overlay-hover">
                                    <img class="overlay-figure" src="@Url.Content("~/images/MATERIAS/MateriaDefault.png")" alt="...">
                                    <figcaption class="overlay-panel overlay-background overlay-slide-top">
                                        <div class="text-center">
                                            <h3>Lengua Y Literatura</h3>
                                        </div>                                        
                                    </figcaption>
                                </figure>
                                <div class="row p-10">
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <div class="font-size-18 blue-600">Lengua Y Literatura</div>
                                            <div class="font-size-14">Primero A</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <a class="btn btn-primary waves-effect waves-light project-button" href="@Url.Action(@ViewBag.Menu, @ViewBag.Menu)">Acceder</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <ul class="list-inline float-center mt-15">
                                                <li class="list-inline-item">
                                                    20 <i class="icon fa-female"></i>
                                                </li>|
                                                <li class="list-inline-item">
                                                    <i class="icon fa-male"></i> 15
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="panel">
                                <figure class="overlay overlay-hover">
                                    <img class="overlay-figure" src="@Url.Content("~/images/MATERIAS/MateriaDefault.png")" alt="...">
                                    <figcaption class="overlay-panel overlay-background overlay-slide-top">
                                        <div class="text-center">
                                            <h3>Ciencias Naturales</h3>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="row p-10">
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <div class="font-size-18 blue-600">Ciencias Naturales</div>
                                            <div class="font-size-14">Primero A</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <a class="btn btn-primary waves-effect waves-light project-button" href="@Url.Action(@ViewBag.Menu, @ViewBag.Menu)">Acceder</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <ul class="list-inline float-center mt-15">
                                                <li class="list-inline-item">
                                                    20 <i class="icon fa-female"></i>
                                                </li>|
                                                <li class="list-inline-item">
                                                    <i class="icon fa-male"></i> 15
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="panel">
                                <figure class="overlay overlay-hover">
                                    <img class="overlay-figure" src="@Url.Content("~/images/MATERIAS/MateriaDefault.png")" alt="...">
                                    <figcaption class="overlay-panel overlay-background overlay-slide-top">
                                        <div class="text-center">
                                            <h3>Inglés</h3>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="row p-10">
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <div class="font-size-18 blue-600">Inglés</div>
                                            <div class="font-size-14">Primero A</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <a class="btn btn-primary waves-effect waves-light project-button" href="@Url.Action(@ViewBag.Menu, @ViewBag.Menu)">Acceder</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <ul class="list-inline float-center mt-15">
                                                <li class="list-inline-item">
                                                    20 <i class="icon fa-female"></i>
                                                </li>|
                                                <li class="list-inline-item">
                                                    <i class="icon fa-male"></i> 15
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="panel">
                                <figure class="overlay overlay-hover">
                                    <img class="overlay-figure" src="@Url.Content("~/images/MATERIAS/MateriaDefault.png")" alt="...">
                                    <figcaption class="overlay-panel overlay-background overlay-slide-top">
                                        <div class="text-center">
                                            <h3>Ciencias Sociales</h3>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="row p-10">
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <div class="font-size-18 blue-600">Ciencias Sociales</div>
                                            <div class="font-size-14">Primero A</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <a class="btn btn-primary waves-effect waves-light project-button" href="@Url.Action(@ViewBag.Menu, @ViewBag.Menu)">Acceder</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <ul class="list-inline float-center mt-15">
                                                <li class="list-inline-item">
                                                    20 <i class="icon fa-female"></i>
                                                </li>|
                                                <li class="list-inline-item">
                                                    <i class="icon fa-male"></i> 15
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
                <!-- Fin Mostrar Clases  -->


            </div>
        </div>
    </div>

